{% extends "index.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <textarea class='form-control' style='width: 600px;height: 300px;' spellcheck="false">{{song}}</textarea>
            </div>  
        </div>
        <div class="row row-m-t">
            <div class="col-sm-6">
                <a class="btn btn-primary" role="button" href="{{url_for("index")}}">Return</a>
            </div>
        </div>
    </div>

{% endblock %}