<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Machine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .row-m-t{
            margin-top : 20px
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-ms-center">
            <div class="col-sm-6">
                <h2>Lyrics Machine</h2>
            </div>
        </div>
        <div class="row justify-content-ms-center">
            <div class="col-sm-6">
                <p>Bigram/ unigram generation with dataset from 
                    <a href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics/data">Kaggle</a>
                </p>
            </div>
        </div>
        <hr>
    </div>

    {% block body %}{% endblock %}

    {% if errs != None %}
    <div class="container">
        <div class="row row-m-t">
            <ul class="list-group list-unstyled col-sm-6">
                {% for err in errs %}
                <li class="list-group-item-danger">{{err}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

</body>
</html>