<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Generator</title>
    <style>
        th{
            text-align:right;
        }
    </style>
</head>
<body>
    <h2>Lyrics generator</h2>
    <p>Bigram/ unigram generation with dataset from 
        <a href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics/data">Kaggle</a>
    </p>
    <hr>
    
    {% block body %}{% endblock %}

    {% if errs != None %}
    <ul style='color:red;'>
        {% for err in errs %}
        <li>{{err}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>